<%- include('./partials/header') %>
<body>
  <div class="container">
      <br>
    <h2 class="display-7 text-center">Welcome to your Personal To-Do App</h2>
    <% if(todos.length == 0) { %> 
      <br>
      <br>
        <h3 class="display-10 text-center">Please Create an Entry to Begin</h1>
  </div>
    <% } else { %>
      <table class="table table-dark float-left">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">To-Do List</th>
          </tr>
        </thead>
        <% let number = 1 %>
        <% todos.forEach(function(todo) { %>
        <tbody>
          <tr>
            <th scope="row"><%= number %></th>
            <% number+= 1 %>
          <td><a href="/todo/<%=todo._id %>"><%=todo.title %></a></td>
          </tr>
        <%})%>
        </table>
    <% } %>






  </div>
  </body>
</html>
