<%- include('./partials/header') %>
<br>
<body>
  <div class="image-container">
    <% if(user.profilePicture) { %>
      <img class="profilepic" src="<%= user.profilePicture %>">
      <% } %>
  </div>
    <div class="container text-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%=user.firstName%></h5>
          <br>
          <p class="card-text">Email: <%=user.emailAddress%></p>
          <br>
        </div>
    </div>
</div>
</body>
