<%- include('./partials/header') %>
<br>
<div>
    <div class="text-center">
    <div class="card" style="width: 18rem;">
      <% if(user.profilePicture) { %>
        <img class="card-img-top img-thumbnail" src="<%= user.profilePicture %>">
        <% } %>
        <div class="card-body">
          <h5 class="card-title"><%=user.firstName%></h5>
          <br>
          <p class="card-text">Email: <%=user.emailAddress%></p>
          <br>
        </div>
    </div>
</div>
</div>
</body>
</main>