body {
  padding: 50px;
  font-family: 'PT Serif', serif;
}

a {
  color: white;
}
li {
  list-style: none;
}
.nav-link {
  color: rgb(247, 245, 245);
  font-family: Arial, Helvetica, sans-serif;
}
.intro {
  color: rgb(247, 245, 245);
}
.navbar-nav {
  width: 100%;
}
.card-link {
  color: black;
}
.index {
  background-image: url("https://wallpaperaccess.com/full/4317847.jpg");
  height: 1000px;
}