body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}
li {
  list-style: none;
}
.nav-link {
  color: rgb(247, 245, 245);
}
.intro {
  color: rgb(247, 245, 245);
}
.navbar-nav {
  width: 100%;
}
.card-link {
  color: black;
}