body {
  padding: 50px;
  font-family: 'PT Serif', serif;
  background-color: rgb(236, 233, 233);
}

a {
  color: white;
}
li {
  list-style: none;
}
.nav-link {
  color: rgb(247, 245, 245);
  font-family: Arial, Helvetica, sans-serif;
}
.intro {
  color: rgb(247, 245, 245);
}
.navbar-nav {
  width: 100%;
}
.card-link {
  color: black;
}
.index {
  height: 2000px;
}
